<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'Badge',
  props: {
    badge: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <a
    :href="badge.link"
    :data-ga-name="badge.data_ga_name"
    :data-ga-location="badge.data_ga_location"
    class="badge"
  >
    {{ badge.text }}
  </a>
</template>

<style lang="scss" scoped>
.badge {
  padding: $spacing-4 $spacing-16;
  border-radius: 20px;
  background-color: $color-surface-900;
  margin-bottom: $spacing-16;
  display: inline-block;
  color: $color-text-300;

  &:hover {
    background-color: $color-surface-800;
  }
}
</style>
