<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { GetStartedResources } from '~/components/get-started/index.vue';
import {
  CTA as CallToAction,
  Benefits,
  FreeTrialCTA,
  NextStep,
} from '~/components/common/index.vue';
import {
  Carousel as QuotesCarousel,
  FeaturedPartners,
  PartnersShowcase,
  PartnersIntro as Intro,
  PartnersCopyBlock as CopyBlock,
  PartnersResources as Resources,
  PartnersHero as Hero,
} from '~/components/partners/index.vue';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    CallToAction,
    FeaturedPartners,
    Benefits,
    FreeTrialCTA,
    Intro,
    QuotesCarousel,
    Hero,
    CopyBlock,
    GetStartedResources,
    NextStep,
    PartnersShowcase,
    Resources,
  },
  // eslint-disable-next-line
  async asyncData({ $content, i18n, error }: any) {
    try {
      const locale = i18n.locale === i18n.defaultLocale ? '' : i18n.locale;
      const partner = await $content(locale, `partners/index`).fetch();
      return { partner };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    return getPageMetadata(
      (this as any).partner,
      this.$route.path,
      this.$nuxtI18nHead({ addSeoAttributes: true }),
    );
  },
});
</script>

<template>
  <section class="partners-container">
    <component
      :is="component.name"
      v-for="(component, index) in partner.components"
      :key="component.name + index"
      :data="component.data"
    />
    <SlpContainer variant="gradient">
      <NextStep :variant="3" />
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.partners-container {
  overflow-x: hidden;
}
</style>
