<script>
import Tabs from './tabs.vue';

export default {
  components: {
    Tabs,
  },
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      selectedTab: 0,
      tabs: [],
    };
  },
  mounted() {
    this.tabs = this.data.categories.map((category) => category.name);
  },
  methods: {
    setActiveCategory(newTab) {
      this.selectedTab = newTab;
    },
  },
};
</script>

<template>
  <SlpContainer variant="light-purple-100">
    <div class="company-showcase">
      <SlpTypography variant="heading2-bold" tag="h2" class="header">{{
        data.header
      }}</SlpTypography>
      <div class="showcase-container">
        <Tabs
          :tabs="tabs"
          :cta="data.categories[selectedTab].cta"
          :selected-tab="selectedTab"
          @change="(newTab) => setActiveCategory(newTab)"
        />
        <transition name="fade" mode="out-in" tag="div">
          <div :key="selectedTab" class="showcase-cards">
            <a
              v-for="company in data.categories[selectedTab].cases"
              :key="company.text"
              class="case-study"
              :href="company.button.href"
              :data-ga-name="company.button.data_ga_name"
              :data-ga-location="company.button.data_ga_location"
            >
              <div>
                <img
                  class="image slp-mb-24"
                  :src="company.image"
                  :alt="company.alt"
                  loading="lazy"
                />
                <div class="text-container">
                  <SlpTypography
                    variant="heading4-bold"
                    class="slp-mb-16"
                    tag="h4"
                    >{{ company.name }}</SlpTypography
                  >
                  <SlpTypography variant="body1" class="slp-mb-24">
                    {{ company.text }}</SlpTypography
                  >
                  <SlpButton
                    variant="tertiary"
                    class="read-story-cta"
                    :style="`padding-left: 0;`"
                  >
                    {{ company.button.text || 'Read story' }}
                    <SlpIcon
                      variant="product"
                      name="chevron-lg-right"
                      class="slp-ml-8"
                    />
                  </SlpButton>
                </div>
              </div>
            </a>
            <div class="feature-card">
              <div class="text-container">
                <img
                  class="logo"
                  :src="data.categories[selectedTab].quote.logo"
                  :alt="data.categories[selectedTab].quote.alt"
                  loading="lazy"
                />
                <SlpTypography variant="heading3-bold" class="slp-mb-16">
                  {{ data.categories[selectedTab].quote.header }}
                </SlpTypography>
                <div class="mobile metrics">
                  <div
                    v-for="(metric, index) in data.categories[selectedTab].quote
                      .metrics"
                    :key="metric.text"
                    class="metric"
                    :class="`metric-${index}`"
                  >
                    <SlpTypography variant="heading1-bold" tag="p">{{
                      metric.value
                    }}</SlpTypography>
                    <SlpTypography variant="body2" tag="p">
                      {{ metric.text }}</SlpTypography
                    >
                  </div>
                </div>
                <SlpTypography variant="quotes" class="slp-mb-16">
                  {{ data.categories[selectedTab].quote.text }}
                </SlpTypography>
                <div class="author slp-mb-24">
                  <SlpTypography variant="body3-bold" tag="p">
                    {{
                      data.categories[selectedTab].quote.author.name
                    }}</SlpTypography
                  >
                  <SlpTypography variant="body3" tag="p">
                    {{
                      data.categories[selectedTab].quote.author.title
                    }}</SlpTypography
                  >
                </div>
                <SlpButton
                  :href="data.categories[selectedTab].quote.button.href"
                  :data-ga-name="
                    data.categories[selectedTab].quote.button.data_ga_name
                  "
                  :data-ga-location="
                    data.categories[selectedTab].quote.button.data_ga_location
                  "
                  class="button"
                >
                  {{
                    data.categories[selectedTab].quote.button.text ||
                    'Read story'
                  }}
                  <SlpIcon
                    variant="product"
                    name="chevron-lg-right"
                    class="slp-ml-8"
                  />
                </SlpButton>
              </div>
              <div class="metrics">
                <div
                  v-for="(metric, index) in data.categories[selectedTab].quote
                    .metrics"
                  :key="metric.text"
                  class="metric"
                  :class="`metric-${index}`"
                >
                  <SlpTypography variant="heading1-bold" tag="p">{{
                    metric.value
                  }}</SlpTypography>
                  <SlpTypography variant="body2" tag="p">
                    {{ metric.text }}</SlpTypography
                  >
                </div>
              </div>
            </div>
            <div class="mobile-learn-more-button">
              <SlpButton
                variant="tertiary"
                :href="data.categories[selectedTab].cta.href"
                >{{ data.categories[selectedTab].cta.text
                }}<SlpIcon variant="product" name="chevron-lg-right"
              /></SlpButton>
            </div>
            <a
              v-if="data.categories[selectedTab].banner"
              class="cta-banner"
              :href="data.categories[selectedTab].banner.href"
              :data-ga-name="data.categories[selectedTab].banner.data_ga_name"
              :data-ga-location="
                data.categories[selectedTab].banner.data_ga_location
              "
            >
              <div class="text">
                <SlpIcon
                  :name="data.categories[selectedTab].banner.icon.name"
                  :size="data.categories[selectedTab].banner.icon.size"
                  variant="marketing"
                  class="icon"
                />
                <SlpTypography variant="heading4" tag="p">{{
                  data.categories[selectedTab].banner.text
                }}</SlpTypography>
              </div>
              <SlpButton variant="tertiary" class="cta-button">
                Learn more <SlpIcon variant="product" name="chevron-lg-right"
              /></SlpButton>
            </a>
          </div>
        </transition>
      </div>
    </div>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.mobile-learn-more-button {
  display: block;
  a {
    text-align: left;
  }
  @media (min-width: $breakpoint-md) {
    display: none;
  }
}
.header {
  margin-bottom: 60px;
}

.cta-banner {
  grid-column: span 3;
  margin-top: 32px;
  background: white;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  padding: 32px;
  transition: all 0.3s;
  @media (max-width: $breakpoint-md) {
    grid-column: span 1;
    flex-direction: column;
    align-items: flex-start;
  }
  &:hover {
    box-shadow: 0 24px 50px -24px #d1d0d3;
  }
  .text {
    display: flex;
    align-items: center;
    max-width: 80%;
    @media (max-width: $breakpoint-md) {
      max-width: 100%;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: $spacing-24;
    }

    .icon {
      margin-right: 24px;
      @media (max-width: $breakpoint-md) {
        margin-bottom: $spacing-24;
      }
    }
  }
}

a {
  color: $color-text-300;
}

.text-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  @media (min-width: $breakpoint-md) {
    min-height: 185px;
  }
}
.logo {
  max-height: 64px;
  max-width: 160px;
  margin-bottom: 16px;
}
.image {
  max-width: 250px;
  object-fit: cover;
  @media (min-width: $breakpoint-lg) {
    display: block;
    max-width: 561px;
    max-height: 442px;
  }
}
.showcase-cards {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 450px auto;
  @media (max-width: $breakpoint-md) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}

.feature-card {
  display: flex;
  background: white;
  grid-column: span 3;
  width: 90%;
  padding: 64px 71px;
  border-radius: 4px;
  @media (max-width: $breakpoint-md) {
    grid-column: span 1;
    width: 100%;
    flex-direction: column-reverse;
    padding: 32px 24px;
  }
  .metrics {
    margin-bottom: 32px;
    display: none;
    @media (min-width: $breakpoint-md) {
      display: block;
      position: relative;
      right: -75px;
      width: 33%;
      margin-bottom: 0;
    }
    &.mobile {
      display: block;
      margin-top: 8px;
      @media (min-width: $breakpoint-md) {
        display: none;
      }
    }
    .metric {
      margin-bottom: 8px;
      min-width: 415px;
      padding: 32px;
      background: linear-gradient(
        108.2deg,
        #eee7fd 0.01%,
        #f6f3fe 69.81%,
        #ffd4d8 140.41%
      );
      @media (max-width: $breakpoint-md) {
        min-width: 0;
        padding: 16px;
      }
      &-1 {
        background: linear-gradient(
          109.13deg,
          #eee7fd -25.16%,
          #f6f3fe 44.15%,
          #ffd4d8 114.27%
        );
      }
      &-2 {
        background: linear-gradient(
          107.77deg,
          #eee7fd -55.1%,
          #f6f3fe 16.25%,
          #ffd4d8 88.43%
        );
      }
      &:last-child {
        border-radius: 0px 0px 90px 0px;
        margin-bottom: 0;
        padding-right: 50px;
      }
    }
  }
}

.case-study {
  width: 100%;
  background: white;
  padding: 16px;
  border-radius: 4px;
  transition: all 0.3s;
  &:hover {
    border-radius: 4px 4px 100px 4px;
    .text-container .read-story-cta {
      text-decoration-color: #171321;
      .slp-icon {
        transform: translateX(8px);
      }
    }
  }
  &:last-child {
    .text-container {
      border-radius: 0 0 100px 0;
    }
  }
  .image {
    max-height: 200px;
    min-width: 100%;
  }
}
</style>
