<script lang="ts">
import Vue from 'vue';
import type { PropType } from 'vue';

interface FeatureCard {
  name: string;
  description: string;
  icon: string;
  pill: string;
  href: string;
}
export default Vue.extend({
  props: {
    title: {
      type: String,
      required: true,
    },
    cards: {
      type: Array as PropType<FeatureCard[]>,
      required: true,
    },
  },
  methods: {
    goToPage(page: string): void {
      window.location.href = page;
    },
  },
});
</script>

<template>
  <div class="ai-features">
    <SlpTypography variant="heading2-bold" tag="h2">{{ title }}</SlpTypography>
    <div class="card-grid">
      <div
        v-for="card in cards"
        :key="card.name"
        role="button"
        class="ai-card"
        @click="goToPage(card.href)"
      >
        <SlpIcon
          :name="card.icon"
          variant="marketing"
          size="md"
          hex-color="#171321"
        />
        <SlpTypography variant="body1-bold">{{ card.name }}</SlpTypography>
        <SlpTypography variant="body3">{{ card.description }}</SlpTypography>
        <SlpIcon name="arrow-right" variant="product" size="sm" />
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.ai-features {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 64px 0;
  .card-grid {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr;
    @media (min-width: $breakpoint-lg) {
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
    .ai-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: $color-surface-800;
      border-radius: 4px;
      padding: 24px;
      transition: all 0.3s;
      min-height: 250px;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        border-radius: 4px 4px 90px 4px;
        background: linear-gradient(
          93.83deg,
          rgba(199, 177, 254, 0.4) 7.27%,
          rgba(255, 212, 216, 0.4) 105.33%
        );
      }
      .pill-row {
        display: flex;
        justify-content: space-between;
        .pill {
          padding: 4px 12px;
          background: #7759c2;
          border-radius: 90px;
          color: white;
        }
      }
    }
  }
}
</style>
