<script>
import { efficiencyGain, totalCostSavings } from '../../lib/roiCalculate';
import PremiumBlock from './premium-block.vue';

export default {
  components: {
    PremiumBlock,
  },
  props: {
    formData: {
      type: Object,
      required: true,
    },
    premiumFeatures: {
      type: Object,
      required: false,
      default: null,
    },
    ultimateFeatures: {
      type: Object,
      required: false,
      default: null,
    },
  },
  computed: {
    isMobile() {
      return this.width <= 1024;
    },
    numberOfProjects() {
      return this.formData.numberOfUsers / 4;
    },
    toolSecTimePerProjectHours() {
      // Tool & Security time/project (in hours)
      return (
        (this.formData.developmentConfigurationHours +
          this.formData.developmentSecurityHours) *
        (this.formData.daysToProduction / 4)
      );
    },
    cycleTimePerProjectHours() {
      return this.formData.daysToProduction * 24;
    },
    hoursSpentOnProject() {
      return Math.ceil(
        this.toolSecTimePerProjectHours + this.cycleTimePerProjectHours,
      );
    },
    toolSecSavingsPerProjectHours() {
      return (
        (this.formData.developmentConfigurationHours * 0.44 +
          this.formData.developmentSecurityHours * 0.4) *
        (this.formData.daysToProduction / 4)
      );
    },
    cycleTimeSavingsPerProjectHours() {
      return this.formData.daysToProduction * 0.615 * 24;
    },
    hoursSavedPerProject() {
      return Math.ceil(
        this.toolSecSavingsPerProjectHours +
          this.cycleTimeSavingsPerProjectHours,
      );
    },
    efficiency() {
      return efficiencyGain(
        this.hoursSpentOnProject,
        this.hoursSavedPerProject,
      );
    },
    totalTimeLost() {
      return this.hoursSpentOnProject - this.hoursSavedPerProject;
    },
    totalSavings() {
      return totalCostSavings(this.hoursSavedPerProject, this.numberOfProjects);
    },
  },
};
</script>

<template>
  <div>
    <div class="stats">
      <SlpTypography tag="h3" variant="heading4-bold">
        Your toolchain is currently costing you
        <span class="accent"
          >{{
            totalTimeLost.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
          }}
          hours per project</span
        >
      </SlpTypography>
      <div class="stats__box">
        <SlpTypography tag="h4" variant="heading5-bold" class="slp-mb-24">
          By switching to GitLab your company could
        </SlpTypography>
        <SlpTypography tag="p" variant="body2" class="slp-mb-8">
          Increase efficiency by
        </SlpTypography>
        <SlpTypography tag="span" variant="heading5-bold">
          {{ efficiency }} %
        </SlpTypography>
      </div>
    </div>
    <SlpHorizontalRule />
    <div class="cta-block">
      <SlpTypography tag="p" variant="body1" class="slp-mb-24">
        GitLab Premium may be a great choice for your company to enhance team
        productivity and collaboration.
      </SlpTypography>
      <PremiumBlock :premium-features="premiumFeatures.list" />
      <SlpTypography tag="p" variant="body3" class="slp-mt-24 description">
        Results are based on similar sized organizations reported savings. The
        results are purely an estimate and subject to change based on various
        factors that went into the calculation.
      </SlpTypography>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.stats {
  display: flex;
  justify-content: space-between;
  gap: 0 $spacing-32;
  align-items: center;
  text-align: left;
  margin-bottom: $spacing-32;

  .accent {
    color: $color-text-link-100;
  }

  &__box {
    background: $color-surface-100;
    padding: $spacing-32 $spacing-24;
    flex: 1 0 45%;

    span {
      display: block;
    }
  }

  @media (max-width: $breakpoint-md) {
    text-align: center;
    flex-wrap: wrap;

    h3 {
      margin-bottom: $spacing-16;
    }

    &__box {
      text-align: left;
    }
  }
}

.description {
  color: $color-text-200;
}

.cta-block {
  margin-top: $spacing-32;

  @media (max-width: $breakpoint-md) {
    text-align: left;
  }
}

.flex {
  display: flex;
  align-items: center;

  .slp-tooltip {
    border: none;
  }
}
</style>
