<script lang="ts">
import Vue from 'vue';
import MrktoForm from './multi-form-raw.vue';

export default Vue.extend({
  components: {
    MrktoForm,
  },
  props: {
    header: { type: String, required: true },
    confirmation: {
      type: Array,
      required: false,
      default() {
        return [
          'Thank you for your interest!',
          'Additional information regarding your interested city will sent in the coming months.',
        ];
      },
    },
    // eslint-disable-next-line vue/prop-name-casing
    form_id: {
      type: String,
      required: true,
      default: '',
    },
    registrationClosed: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  data() {
    return {
      submitted: false,
    };
  },
  methods: {
    handleSubmit() {
      this.submitted = true;
    },
  },
});
</script>

<template>
  <div id="registration-form" class="form-wrapper">
    <SlpContainer>
      <div class="container">
        <div v-if="!submitted && !registrationClosed">
          <SlpTypography
            tag="h2"
            variant="heading2-bold"
            class="header slp-mb-32"
            >{{ header }}</SlpTypography
          >
          <MrktoForm :data="{ form_id }" @submit="handleSubmit" />
        </div>
        <div v-else-if="registrationClosed" class="confirmation">
          <SlpTypography variant="heading3-bold" tag="h3">
            Registration is now full!
          </SlpTypography>
        </div>
        <div v-else class="confirmation">
          <SlpTypography
            v-for="message in confirmation"
            :key="message"
            variant="heading3-bold"
            tag="h3"
          >
            {{ message }}
          </SlpTypography>
        </div>
      </div>
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
.form-wrapper {
  background: #5c284c;
  padding: 120px 0;
  .container {
    padding: 46px 92px;
    @media (max-width: $breakpoint-md) {
      padding: 16px;
    }
    background: #1e1525;
    border-radius: 8px 8px 96px 8px;
    .header {
      color: $color-surface-800;
    }
    .confirmation {
      color: $color-surface-800;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 68px;
      margin: 160px 0;
    }

    :deep(.form_column) {
      padding: 0 !important;
    }
  }
}
</style>
