<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { NextStep, Copy } from '../../../components/common/index.vue';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  name: 'CompanyVision',
  components: {
    Copy,
    NextStep,
  },
  nuxtI18n: false,
  async asyncData({ $content, params, error }: any) {
    try {
      const company = await $content(
        `company/vision/${params.company ? params.company : 'index'}`,
      ).fetch();
      return { company };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).company, this.$route.path);
  },
});
</script>

<template>
  <div>
    <SlpColumn>
      <SolutionsHero
        v-if="company.solutions_hero"
        :data="company.solutions_hero.data"
      />
      <SlpContainer v-if="company.side_menu">
        <SlpSideNavigation
          :data="company.side_menu"
          :class="'side-navigation--w-hero'"
        >
          <SlpContainer>
            <component
              :is="component.name"
              v-for="(component, index) in company.side_menu.content"
              :key="component.name + `-${index}`"
              :data="component.data"
            />
          </SlpContainer>
        </SlpSideNavigation>
      </SlpContainer>
      <component
        :is="component.name"
        v-for="(component, index) in company.components"
        :key="component.name + `-${index}`"
        :data="component.data"
      />
    </SlpColumn>
    <SlpContainer variant="gradient">
      <NextStep />
    </SlpContainer>
  </div>
</template>
<style lang="scss" scoped>
:deep .dropdown {
  margin: $spacing-32 0;
}
:deep #collapsible-sidebar {
  overflow-y: scroll;
  max-height: calc(100vh - $spacing-96);
  height: 100%;
}
.side-navigation--w-old-hero {
  :deep #collapsible-sidebar {
    padding-top: 0 !important;
  }
}
.side-navigation--w-hero {
  :deep #collapsible-sidebar {
    margin-top: $spacing-96;
  }
}
.hyperlinks {
  font-size: $font-size-default;
  line-height: 20px;
  font-weight: $font-weight-normal;
  text-align: left !important;
}
.nav-heading {
  margin-bottom: $spacing-8;
}
</style>
